/* --- Brand Variables (Forced to Dark Mode Palette) --- */
$brand-primary-dark: #7FB685; // Muted Moss
$brand-link-dark:    #95D5B2; // Lighter Mint
$body-dark:          #20212b; // Jungle Black
$text-light:         #dadbdf;

html {
  font-size: 112%; 
}

body {
    background-color: $body-dark;
    color: $text-light;
}

.pub-row {
  display: flex; 
  align-items: center;
}

/* --- Social Icons --- */
.social-icons a {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  background-color: transparent;
  color: $brand-link-dark !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.15rem;
  line-height: 2.5rem;
  margin-right: 1rem;
}

.social-icons a:hover {
    background-color: $body-dark;
    color: white;
    transform: scale(1.2);
}

/* --- Typography & Headers --- */
h1, h3, h4, h5, h6 {
  font-weight: 600;
  color: $brand-primary-dark;
  margin: 0 0 20px;
}

h2 {
  color: $brand-primary-dark;
  font-weight: 500;
  margin: 2px 0px 15px;
  font-size: 157%;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

autocolor {
  color: $text-light;
}

papertitle {
  font-weight: 600;
  font-size: 100%;
  color: #eeeff0;
}

/* --- Links --- */
a {
  color: $brand-link-dark;
  text-decoration: none;
}

a:hover {
  color: #069;
}

/* --- Math & Tables --- */
th, dt {
  color: rgb(62, 183, 240);
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

strong {
  color: #eeeff0;
  font-weight: 500;
}

/* --- Layout Wrappers --- */
.wrapper {
  width: 1100px;
  margin: 0 auto;
}

header {
  width: 280px;
  float: left;
  position: fixed;
  padding-top: 4.0em;
  text-align: center;
}

section {
  width: 720px;
  float: right;
  padding-top: 4.0em;
  padding-bottom: 50px;
}

/* --- Images --- */
.image.avatar img {
  border-radius: 100%;
  width: 80%;
  padding: 20px;
}

/* --- Teaching List Hierarchy --- */
ul ul li {
    color: #adb5bd; 
    font-size: 0.95em;
}

/* Visibility Toggles */
lightonly { visibility: hidden; }
darkonly { visibility: visible; }

/* Mobile Responsiveness (Forced Dark) */
@media print, screen and (max-width: 960px) {

  .pub-row {
  display: flex; 
  align-items: center;}

  div.wrapper {
    width:auto;
    margin:0;
  }


  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }


   .image.avatar img {
        border-radius: 100%;
        width: 150px;
        padding: 20px;
      }
  #head1o2 {
    visibility: hidden;
  }
      
  #head2o2 {
    visibility: hidden;
  }
  
}

@media print, screen and (max-width: 960px) {
  body {
    word-wrap:break-word;
    padding:15px;
    margin-top:60px;
  }

  .pub-row {
  display: flex; 
  align-items: center;}

  header {
    padding:0;
  }

  header ul, header p.view {
    
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {

  .pub-row {
    display: block; 
    align-items: center;}

  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }

  .image.avatar img {
      border-radius: 100%;
      width: 95px;
      padding:20px;
  }
  #head1o2 {
    visibility: hidden;
  }
  
  #head2o2 {
    visibility: hidden;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

.biblink {
  text-decoration:none;
  display: inline;
  margin-right: 0px;
}

.fakelink {
  text-decoration: none;
  cursor: pointer;
}

.bibref {
  font-size: 70%;
  margin-top: 10px;
  margin-left: 0px;
  display:none;
  font-family: monospace;
}


/* Mute the specific course dates for better hierarchy */
ul ul li {
    color: #adb5bd;
    font-size: 0.95em;
}